In [1]:
import pandas as pd
import requests

In [2]:
#we will download our data from yahoo finance url
stock_url = "https://query1.finance.yahoo.com/v7/finance/download/{}"

In [3]:
#list of stocks in S&P 500 index
stock_list = ['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN', 'ATVI', 'ADBE', 'AMD', 'AAP', 'AES', 'AFL', 'A', 'APD', 'AKAM', 'ALK',
'ALB', 'ARE', 'ALGN', 'ALLE', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN', 'AMCR', 'AEE', 'AAL', 'AEP', 'AXP', 
 'AIG', 'AMT','AWK', 'AMP', 'ABC', 'AME', 'AMGN', 'APH', 'ADI', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'AAPL', 
 'AMAT', 'APTV', 'ADM','ANET', 'AJG', 'AIZ', 'T', 'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY', 'BKR', 'BLL', 'BAC',
 'BBWI', 'BAX', 'BDX', 'BRK.B', 'BBY', 'BIO', 'TECH', 'BIIB', 'BLK', 'BK', 'BA', 'BKNG', 'BWA', 'BXP', 'BSX', 
 'BMY', 'AVGO', 'BR', 'BRO', 'BF.B', 'CHRW', 'CDNS', 'CZR', 'CPB', 'COF', 'CAH', 'KMX', 'CCL', 'CARR', 'CTLT',
'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'CNC', 'CNP', 'CDAY','CERN', 'CF', 'CRL', 'SCHW', 'CHTR', 'CVX', 'CMG', 'CB',
 'CHD', 'CI', 'CINF', 'CTAS', 'CSCO', 'C', 'CFG', 'CTXS', 'CLX','CME', 'CMS', 'KO', 'CTSH', 'CL', 'CMCSA', 'CMA',
 'CAG', 'COP', 'ED', 'STZ', 'COO', 'CPRT', 'GLW', 'CTVA', 'COST', 'CTRA','CCI', 'CSX', 'CMI', 'CVS', 'DHI', 'DHR',
 'DRI', 'DVA', 'DE', 'DAL', 'XRAY', 'DVN', 'DXCM', 'FANG', 'DLR', 'DFS', 'DISCA', 'DISCK', 'DISH', 'DG', 'DLTR',
 'D', 'DPZ', 'DOV', 'DOW', 'DTE', 'DUK', 'DRE', 'DD', 'DXC', 'EMN', 'ETN', 'EBAY', 'ECL','EIX', 'EW', 'EA', 'EMR',
 'ENPH', 'ETR', 'EOG', 'EFX', 'EQIX', 'EQR', 'ESS', 'EL', 'ETSY', 'EVRG', 'ES', 'RE', 'EXC', 'EXPE','EXPD', 'EXR',
 'XOM', 'FFIV', 'FB', 'FAST', 'FRT', 'FDX', 'FIS', 'FITB', 'FE', 'FRC', 'FISV', 'FLT', 'FMC', 'F', 'FTNT', 'FTV',
  'FBHS', 'FOXA', 'FOX', 'BEN', 'FCX', 'GPS', 'GRMN', 'IT', 'GNRC', 'GD', 'GE', 'GIS', 'GM', 'GPC', 'GILD', 'GL',
  'GPN', 'GS','GWW', 'HAL', 'HBI', 'HIG', 'HAS', 'HCA', 'PEAK', 'HSIC', 'HSY', 'HES', 'HPE', 'HLT', 'HOLX', 'HD',
 'HON', 'HRL', 'HST', 'HWM','HPQ', 'HUM', 'HBAN', 'HII', 'IEX', 'IDXX', 'INFO', 'ITW', 'ILMN', 'INCY', 'IR', 
 'INTC', 'ICE', 'IBM', 'IP', 'IPG', 'IFF', 'INTU', 'ISRG', 'IVZ', 'IPGP', 'IQV', 'IRM', 'JKHY', 'J', 'JBHT', 'SJM',
  'JNJ', 'JCI', 'JPM', 'JNPR', 'KSU', 'K', 'KEY', 'KEYS', 'KMB','KIM', 'KMI', 'KLAC', 'KHC', 'KR', 'LHX', 'LH', 
 'LRCX', 'LW', 'LVS', 'LEG', 'LDOS', 'LEN', 'LLY', 'LNC', 'LIN', 'LYV', 'LKQ', 'LMT', 'L', 'LOW', 'LUMN', 'LYB',
 'MTB', 'MRO', 'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MTCH', 'MKC', 'MCD', 'MCK', 'MDT', 'MRK', 'MET',
 'MTD', 'MGM', 'MCHP', 'MU', 'MSFT', 'MAA', 'MRNA', 'MHK', 'TAP', 'MDLZ', 'MPWR', 'MNST', 'MCO', 'MS', 'MOS', 'MSI',
 'MSCI','NDAQ', 'NTAP', 'NFLX', 'NWL', 'NEM', 'NWSA', 'NWS', 'NEE', 'NLSN', 'NKE', 'NI', 'NSC', 'NTRS', 'NOC', 
 'NLOK','NCLH', 'NRG', 'NUE','NVDA', 'NVR', 'NXPI', 'ORLY', 'OXY', 'ODFL', 'OMC', 'OKE', 'ORCL', 'OGN', 'OTIS', 
 'PCAR', 'PKG', 'PH', 'PAYX', 'PAYC', 'PYPL', 'PENN', 'PNR', 'PBCT', 'PEP', 'PKI', 'PFE', 'PM', 'PSX', 'PNW', 'PXD',
 'PNC', 'POOL', 'PPG', 'PPL', 'PFG', 'PG', 'PGR', 'PLD',  'PRU', 'PTC', 'PEG', 'PSA', 'PHM', 'PVH', 'QRVO', 'PWR', 
 'QCOM', 'DGX', 'RL', 'RJF', 'RTX', 'O', 'REG', 'REGN', 'RF', 'RSG', 'RMD', 'RHI', 'ROK', 'ROL', 'ROP', 'ROST',
 'RCL', 'SPGI', 'CRM', 'SBAC', 'SLB', 'STX', 'SEE', 'SRE', 'NOW', 'SHW', 'SPG', 'SWKS','SNA', 'SO', 'LUV', 'SWK', 
'SBUX', 'STT', 'STE', 'SYK', 'SIVB', 'SYF', 'SNPS', 'SYY', 'TMUS', 'TROW', 'TTWO', 'TPR', 'TGT', 'TEL', 'TDY', 
   'TFX', 'TER', 'TSLA', 'TXN', 'TXT', 'TMO', 'TJX', 'TSCO', 'TT', 'TDG', 'TRV', 'TRMB', 'TFC', 'TWTR', 'TYL', 'TSN',
'UDR','ULTA', 'USB', 'UAA', 'UA', 'UNP', 'UAL', 'UNH', 'UPS', 'URI', 'UHS', 'VLO', 'VTR', 'VRSN', 'VRSK', 'VZ', 
  'VRTX', 'VFC', 'VIAC', 'VTRS', 'V', 'VNO', 'VMC', 'WRB', 'WAB', 'WMT', 'WBA', 'DIS', 'WM', 'WAT', 'WEC', 'WFC', 
'WELL', 'WST', 'WDC', 'WU', 'WRK', 'WY', 'WHR', 'WMB', 'WLTW', 'WYNN', 'XEL', 'XLNX', 'XYL', 'YUM', 'ZBRA', 'ZBH', 
'ZION', 'ZTS']

In [4]:
#we will download dat of last 5 years 
def download_stock_data(stock_list):
    params ={
    'period1' : '1388588892', #this is timestamp for date 01/01/2014 20:38:12
    'period2': '1514819291', #this is timestamp for date 01/01/2020 20:38:11
    'events' : 'history'
     }
    stock_data = []
    for stock in stock_list:
        #user agent is an identity string which helps the server to identify about its clients
        # use your own user agent !
        response = requests.get(stock_url.format(stock),params = params, headers = 
    {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'})
        response = response.text
        response = response.split('\n')
      
        for row in response:
            row = row.split(',')
            #we need to drop the 1st row of each stock,because it contains header information
            if row!= ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'] :
                #adding the stock name / ticker, since it is not mentioned in response from request
                row.append(stock)
                stock_data.append(row)
        
        #now let's convert into pandas dataframe
    stock_data = pd.DataFrame(stock_data, columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume','Ticker'])
  
    #stock_data will be a list of data, so we need to convert it into pandas dataframe in future
    return stock_data

In [5]:
stock_data = download_stock_data(stock_list)

In [6]:
stock_data.describe()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
count,482764,482764,482763,482745,482745,482745,482745,482745
unique,1010,80411,81509,81316,81571,408314,159625,486
top,2017-06-09,70.000000,42.000000,10.610000,11.710000,7.866982,0,FANG
freq,486,148,104,93,95,77,922,1007

In [10]:
#storing it into csv file in our system
stock_data.to_csv(r'C:\Users\DELL\Desktop\Final Project\hist_data\stock_data.csv',index=True, encoding='utf-8')

In [11]:
stock_data

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2014-01-02,138.050003,139.000000,137.610001,138.130005,107.963135,3052100,MMM
1,2014-01-03,138.369995,138.880005,138.029999,138.449997,108.213249,2133300,MMM
2,2014-01-06,138.750000,139.289993,137.479996,137.630005,107.572334,2712100,MMM
3,2014-01-07,137.449997,138.199997,137.130005,137.649994,107.587921,2525500,MMM
4,2014-01-08,137.479996,137.750000,136.339996,136.630005,106.790733,3122700,MMM
5,2014-01-09,137.020004,137.429993,136.199997,136.449997,106.650017,2539900,MMM
6,2014-01-10,136.949997,137.190002,135.679993,136.179993,106.439003,3254300,MMM
7,2014-01-13,135.809998,137.059998,134.570007,134.679993,105.266579,2633400,MMM
8,2014-01-14,135.110001,137.410004,134.740005,137.410004,107.400391,2479700,MMM
9,2014-01-15,137.770004,138.820007,137.559998,138.440002,108.205452,3025900,MMM
10,2014-01-16,137.740005,138.500000,137.630005,138.160004,107.986595,1792700,MMM
11,2014-01-17,137.979996,138.750000,136.979996,137.309998,107.322220,2327900,MMM
12,2014-01-21,138.449997,138.949997,136.300003,136.990005,107.072121,2705700,MMM
13,2014-01-22,137.350006,137.490005,136.330002,136.479996,106.673492,2118800,MMM
14,2014-01-23,135.639999,135.660004,133.949997,134.710007,105.290047,2720300,MMM
15,2014-01-24,133.729996,133.729996,130.220001,130.220001,101.780640,3776100,MMM
16,2014-01-27,130.020004,130.589996,128.660004,128.960007,100.795799,3312800,MMM
17,2014-01-28,129.429993,130.009995,129.100006,129.809998,101.460190,2734200,MMM
18,2014-01-29,130.100006,131.270004,129.000000,130.250000,101.804077,3584000,MMM
19,2014-01-30,129.960007,129.960007,126.529999,128.050003,100.084541,4102600,MMM
20,2014-01-31,126.599998,129.199997,126.419998,128.190002,100.193985,3715400,MMM
21,2014-02-03,128.220001,128.589996,123.610001,123.900002,96.840897,4245100,MMM
22,2014-02-04,126.089996,127.639999,124.120003,126.720001,99.045029,7412500,MMM
23,2014-02-05,128.009995,128.759995,125.919998,127.360001,99.545242,4960000,MMM
24,2014-02-06,127.599998,129.199997,127.099998,128.899994,100.748909,3828400,MMM
25,2014-02-07,129.570007,130.389999,128.809998,130.330002,101.866615,3263200,MMM
26,2014-02-10,129.649994,130.410004,129.020004,129.699997,101.374191,3317400,MMM
27,2014-02-11,129.699997,131.490005,129.649994,130.979996,102.374657,2604000,MMM
28,2014-02-12,130.339996,131.000000,130.009995,130.440002,102.622475,2100600,MMM
29,2014-02-13,129.289993,130.380005,128.660004,130.139999,102.386452,2850600,MMM
...,...,...,...,...,...,...,...,...
482734,2017-11-16,69.970001,70.489998,69.709999,70.410004,68.544167,2055500,ZTS
482735,2017-11-17,70.239998,71.120003,70.239998,70.790001,68.914085,2355100,ZTS
482736,2017-11-20,70.800003,71.139999,70.489998,70.949997,69.069855,2268300,ZTS
482737,2017-11-21,71.029999,72.139999,70.970001,71.360001,69.468987,2725400,ZTS
482738,2017-11-22,71.330002,71.830002,70.949997,71.070000,69.186668,1437200,ZTS
482739,2017-11-24,71.169998,71.419998,70.930000,71.290001,69.400864,1200300,ZTS
482740,2017-11-27,71.489998,71.800003,71.220001,71.540001,69.644226,1997500,ZTS
482741,2017-11-28,71.589996,71.629997,71.260002,71.389999,69.498184,2610400,ZTS
482742,2017-11-29,71.989998,72.099998,71.279999,71.610001,69.712357,1618400,ZTS
482743,2017-11-30,71.839996,72.709999,71.839996,72.290001,70.374374,2602100,ZTS
482744,2017-12-01,72.220001,72.349998,71.279999,72.300003,70.384079,1932200,ZTS
482745,2017-12-04,72.440002,72.790001,71.000000,71.019997,69.138000,3581400,ZTS
482746,2017-12-05,70.820000,71.769997,70.599998,70.849998,68.972496,2261500,ZTS
482747,2017-12-06,70.599998,71.110001,70.480003,70.970001,69.089325,1507400,ZTS
482748,2017-12-07,70.970001,71.839996,70.760002,71.639999,69.741570,2694400,ZTS
482749,2017-12-08,71.889999,71.980003,71.300003,71.879997,69.975197,1640000,ZTS
482750,2017-12-11,71.839996,71.970001,71.519997,71.769997,69.868103,1172500,ZTS
482751,2017-12-12,71.769997,72.660004,71.639999,72.230003,70.315933,1939900,ZTS
482752,2017-12-13,72.139999,72.989998,72.059998,72.379997,70.461960,1595100,ZTS
482753,2017-12-14,72.250000,72.459999,71.570000,71.760002,69.858398,1364500,ZTS
482754,2017-12-15,72.209999,72.269997,71.519997,71.959999,70.053093,2843200,ZTS
482755,2017-12-18,71.959999,72.919998,71.910004,72.629997,70.705330,1657800,ZTS
482756,2017-12-19,72.820000,73.580002,72.730003,72.800003,70.870834,1946300,ZTS
482757,2017-12-20,72.680000,73.160004,72.169998,72.709999,70.783218,1806300,ZTS
482758,2017-12-21,73.000000,73.309998,72.269997,72.279999,70.364586,1163500,ZTS
482759,2017-12-22,72.269997,72.370003,71.790001,71.989998,70.082291,1345700,ZTS
482760,2017-12-26,72.400002,72.550003,71.900002,72.339996,70.423019,791900,ZTS
482761,2017-12-27,72.589996,72.690002,72.250000,72.449997,70.530098,1159800,ZTS
482762,2017-12-28,72.489998,72.599998,72.139999,72.389999,70.471695,710500,ZTS
482763,2017-12-29,72.550003,72.760002,72.040001,72.040001,70.130966,1704100,ZTS